.management {
  display: flex;
  justify-content: space-between;
}

.managementGroup {
  flex: 8;
  min-height: calc(100vh - 173px);
}

.managementHead {
  padding: 24px 24px 0 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid #cfcfcf;
}

.titlename {
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
}

.fanpage {
  border-left: 1px solid #cfcfcf;
  padding-left: 12px;
  font-size: 24px;
  font-weight: 500;
}
