.title {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
}

.inputContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Chia thành 2 cột bằng nhau */
  grid-template-rows: repeat(2, auto);
  gap: 12px;
}

.inputGroup {
  display: flex;
  flex-direction: column;
}

.label {
  display: block;
  margin-top: 12px;
  font-weight: 500;
}

.formInput {
  border: 1px solid #cfcfcf;
  outline: none;
  border-radius: 10px;
  margin-top: 12px;
  padding: 12px 0 12px 12px;
}

.inputName {
  width: 100%;
}

.selectContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.selectInput {
  border: 1px solid #cfcfcf;
  outline: none;
  border-radius: 10px;
  margin-top: 12px;
  padding: 12px;
  max-width: 324px;
  width: 324px;
}

.btnModal {
  width: 100%;
  border-radius: 99px;
  background-color: #ff9900;
  border: 1px solid #ff9900;
  text-transform: uppercase;
}

.btnModal:hover,
.btnAddNewUser:hover {
  opacity: 0.8;
  background-color: #ff9900;
  border: 1px solid #ff9900;
}

.btnAddNewUser {
  background-color: #ff9900;
  border: 1px solid #ff9900;
  padding: 12px 16px;
  font-size: 16px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 6px;
}
